<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/espaço.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet"/>
        <title>Projeto</title>
    </head>
    <body>

    <section class="main">
        <header>
            <div class= "center menu-container">
                <div class= "logo">
                    <a class="button"href="home"</a>
                        <h3><i class= "fa-solid fa-location-pin"></i>ACADINIA</h3>
                </div>
                <div class="menu">
                    <a class="active-menu" href="home">Home</a>
                    <a href="/espaço">Nosso Espaço</a>
                    <a href="/sobre">Sobre</a>
                    <a href="/planos">Planos</a>
                </div>
            </div><!--center-->
        </header>
        <div class="text-chamadaa"><h1>VEJA!</h1><h3>nosso espaço</h3></div>
    </section>
            </div><!--center-->
        </header>
    </section>

    <section class="produtos">
            <div class="retangulo">
                <div class="row">
                <div class="new">
                    <div class="col-lg-9">
                    <div class="text-chamada"><h1>Com Acadinia.APP !</h1><h3>você pode ter seus treinos no seu celular:</h3></div>
                        <div class="textin"><h3>
                            Acompanhar o progresso de treino
                            <br>- Ver os exercícios em vídeo
                            <br>- Assistir às aulas on-line onde e quando quiser
                            <br>- Sem pagar nada a mais por isso!
                            "Escaneie o código para baixar grátis" </h3>
                        </div>
                        </div>
                        <div class="row-lg-3">
                            <img src="static/img.png" alt="Imagem" class="imagem">
                        </div>
                </div>
            </div>
        </div>

   <div class="carousel-container">
  <div class="carousel-slide">
    <img src="static/service1.jpg" alt="Imagem 1">
    <img src="static/service2.jpg" alt="Imagem 2">
    <img src="static/service3.jpg" alt="Imagem 3">
    </div>
    </div>
        </section>


    <section class="endpage">

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js"><</script>

    </body>
</html>